
@media (max-width: 1500px) {


    #rodape{
            
            width: 100%;
            height: 50px;
    
        
    }

    .itens-container{
      display: grid;
    }

}


@media screen and(min-width: 1200px) {
    #rodape{
        width: 100%;
        height: 60px;
    }

    

    .itens-container{
      display: grid;
    }
    
}

@media (max-width: 1000px) {


    #rodape{
            
            width: 100%;
            height: 60px;
    
        
    }

    .itens-container{
      display: grid;
    }

}

@media screen and(min-width: 900px) {
    #rodape{
        
    }

    .limparcarrinho{
        margin-top: 50px;
    }
    #btn-menu{
  
        padding: 10px;
    }

    .itens-container{
      display: grid;
    }

    #rodape{
      
    }

}



  
@media (max-width: 765px) {

  footer{
    text-align: center;
    padding: 5px;
    background-color: transparent;
    color: white;
}
    

    #logo1{
        width: 200px;
        height: auto;
    }

    #logo1 img{
        border: 5px solid white;
        
        margin-top: 50px;

      }

      .divinput{
 

        align-items: center;
       
        float: left;
      
      
    
    }

  

    .fieldset{
      width: auto;
      height: auto;
      
      flex-direction:flex;
      align-items: center;
      margin-top: auto;
    }
    
    
      

      h1{
        align-items: center;
        text-align: center;
        color: white;
        font-size: 30px;
      }

      header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 10px 10px 20px 20px;
        background-color: transparent;
    
    
    }

   
     

      

      .logo{
        border: solid white;
      }
     
      .logo img{
         align-items: center;
         width: 300apx;
         height: 300px;
         margin-left: auto;
         margin-right: auto;
         align-items: center;
         
      }

      .logo img{
        align-items: center;
        text-align: center;
      }

      .marque_a_caixa{
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
        margin: 10px;
        color: transparent;
        border-top: solid black;
        align-items: center;
        
      }

      
      .setinha{
        width: 70px;
        height: 70px;
        margin-top: 20px;
      }

    #subtotal-box h2{
        font-size: 20px;
        margin-top: -3px;
    }

    
    #rodape{
        width: 100%;
        height: 60px;

    }

    #caixadagaleria{
        width: auto;
        height: auto;
        margin-top: 10px;
        padding: 5px;
        align-items: center;
    
    
    }

    


    /*Tela principal*/

    
    

    
    h3{
        margin: 0px;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 20px;
    
    }
    
  
    #bt_menu:checked ~ .menu {
     margin-left: 0;
    }
  
    .menu {
     margin-top: 5px;
     margin-left: -100%;
     transition: all .4s;
     
    }
  
    .menu ul li {
     width: 100%;
     float: none;
    }
    .menu ul ul {
     position: static;
     overflow: hidden;
     max-height: 0;
     transition: all .8s;
     
    }
    .menu ul li:hover ul {
     height: auto;
     max-height: 200px;
  
    }

    
    #logof{
        text-align: center;
        margin-top: 20px;

        
    }

    #logof img{
        text-align: center;
        margin-top: 20px;
        border: 5px solid white;


        
    }

    #logoff img{
        text-align: center;
        margin-top: 20px;
       


        
    }

   
    #destaque p{
        text-indent:10px;
        margin-top: 30px;
        font-size: 18px;
        margin-top: 20px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        
        

    }

    

    
    

    
}



@media screen and (min-width: 765px){


    /*página de principal*/

    

   
    .flex-container{
      
    }

    
    .menu img{
        align-items: center ;
    }

       
      #logo1{
        width: 200px;
        height: auto;
    }
      

        #logo1 img{
          align-items: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 300px;
          height: auto;
          margin-top: 50px;
          border: solid 5px rgba(66, 63, 63, 0.541);
        
        }

      #topo img{
        border: 10px solid white;

    }

    #logof img{
      text-align: center;
      margin-top: 20px;
      border: 5px solid white;


      
  }
      
      .campo{

      min-width: 200px;
      min-height: auto;

      }
     

      .campo textarea {
        
        min-width: 200px;
        min-height: auto;

      
      }

      


      header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 10px 10px 20px 20px;
        background-color: transparent;
    
    
    }

    h1{
      align-items: center;
      text-align: center;
      color: white;
      font-size: 40px;
    }

    /*-- CSS DE LANCHES e BEBIDAS --- */


      header{
        align-items: center;
      
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .logo{
      align-items: center;
      width: 500apx;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      border: solid white;
   }

    .logo img{
      align-items: center;
      width: 400apx;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
   }

   section{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .divinput{
 

    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
  
  

}



    #subtotal-box h2{
        font-size: 25px;
        margin-top: -3px;
    }


    #rodape{
        float: left;
        margin: 1px;
        height: 60px;

    }


   header h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    
}

#caixadagaleria{
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 5px;


}




    h3{
        margin: 0px;
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 200px;

    }


    footer{
        text-align: center;
        padding: 5px;
        background-color: transparent;
        color: white;
    }
    
    footer a{
        text-decoration: none;
        color: yellow;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #08087e;
        padding: 10px 10px 20px 20px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        width: auto;
        height: auto;
    
    
    }  

    

    


  



    /*página de contato*/

    .redessociais{
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;

    }
    
    
 

}

@media (min-width: 600px) {

  header{
    background-image: url(../img/back\ lan.jpg);
   background-size: cover;
   border: solid rgba(117, 112, 104, 0.534);
    border-radius: 7px;
    
  
  }

  #rodape{
    position:fixed;
    max-width: 300px;
    height: 100px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .finished{
    visibility: hidden;
  }
  

  .bvp{
    border: solid white;
    background-color: black;
    color: rgb(255, 166, 0);
    font-size: 30px;
    border-radius: 10px;
    width: 600px;

  }

  .itens-container{
    display: inline-block;
  }
    
  
  }

  @media (min-width: 450px) {

    
    
      
    
    }

@media screen and (max-width: 450px){

  
  .flex-container {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
  
  
  
  }

  .magic{
    visibility: hidden;
  }


    .itens-container {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
      }


    .titulopedidos{

        width: auto;
        margin-top: 0px;
      }
    
      #slide {
        background-color: #ffffff;
        width: 300px;
        
        z-index: 2;
        height: 300px;
        overflow: hidden;
        margin: 10px auto;
        box-shadow: 0px 0px 10px #000;
        position: relative;
        border-radius: 8px;
        align-items: center;
      } 
      
      #slide img {
        background-color: #ffffff;
        width: 300px;
        
        z-index: 2;
        height: 300px;
        overflow: hidden;
        margin: 10px auto;
        box-shadow: 0px 0px 10px #000;
        position: relative;
        border-radius: 8px;
        align-items: center;
        margin-top: -0.5px;
      } 
    
       #voltar, #avancar {
        z-index: 6;
        position: absolute;
        bottom: 110px;
        width: 8%;
        background: rgba(0, 0, 0, 0.65);
        color: rgba(221, 221, 221, 0.61);
        cursor: pointer;
      }
      
      #slide #voltar {
        left: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      
      #slide #avancar {
        right: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      
      
      i {
        font-size: 25px;
      }
      
      .limparcarrinho button{
        color: white;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        background-color: black;
        border-radius: 20px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        font-size: 15px;
      }
      

    #subtotal-box h2{
        font-size: 18px;
        margin-top: -3px;
    }
    
    #rodape{
        width: 100%;
        height: 60px;
        align-items: center;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
    }

    #pesquisa{
        width: 210px ;
        
    }

    #destaque p{
        margin-top: 30px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;

        

    }

    .redessociais{
        align-items: center;
        margin-right: 50px;
    }

   

}

@media screen and (max-width: 330px){

  

    #logo1{
        width: 200px;
        height: auto;
    }


    #logo1 img{
        width: 100px;
        height: auto;
        margin-top: 50x;
    
    
      }

      
    
      .marque_a_caixa{
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
        margin: 10px;
        color: transparent;
        border-top: solid black;
        align-items: center;
      }
    
      .setinha{
        width: 50px;
        height: 50px;
        margin-top: 20px;
      }
    
    
    
    .logo img{
     align-items: center;
     margin-right: 10px;
     width: 200px;
      height: 200px;
    }
    
    
    


    .redessociais{
        margin-right: 50px;
    }

    #subtotal-box h2{
        font-size: 15px;
        margin-top: -3px;
    }


#rodape{
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}


  

}

